
{% extends "base.html" %}

{% block content %}

<div class="p-3 mb-2 bg-light text-dark">
  <h2 style="text-align:center;">Plantações Totais:</h2>

  <table id="data" class="table table-striped">
    <thead>
      <tr>
        <th>Nome</th>
        <th>Area m²</th>
        <th>Quantidade de trabalhadores</th>
        <th>Data de platação</th>
        <th>Data de colheita</th>
        <th>Quantidade plantada</th>
        <th>Quantidade colhida</th>
        <th>Defensivos agricolas foram usados</th>
      </tr>
    </thead>
    <tbody>
        {% for item in data %}
        <tr>
            <td>{{ item.cultura_name }}</td>
            <td>{{ item.aream2 }}</td>
            <td>{{ item.quantidade_pessoas }}</td>
            <td>{{ item.data_plantacao }}</td>
            <td>{{ item.data_colheita }}</td>
            <td>{{ item.quantitade_plantada }}</td>
            <td>{{ item.quantidade_colheita }}</td>
            <td>{{ item.defensivos_agricolas }}</td>
        </tr>
        {% endfor %}

        <div>
          <h2>Tempo hoje:</h2>
          <span>{{ weather }}</span>
        </div>
    </tbody>
  </table>
</div>
{% endblock %}